/* Color and Size Options TRUE/FALSE container strip on Category Pages */
.colorOptionsContainer, 
.sizeOptionsContainer {	
	display: block;
	position: absolute;
	left: auto;
	color: white;
	width: 100%;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 14px;
	/* default fallback */
	background: rgb(0, 0, 0) transparent;
	/* nice browsers */
	background: rgba(0, 0, 0, 0.6);
}
.colorOptionsContainer {
	top: 230px; 
}
.sizeOptionsContainer {
	top: 180px; 
}

/* Color and Size Options SWATCHES containers */
.CategoryContent .ProductList .catColorSwatch .productOptionPickListSwatch {
	
}
.CategoryContent .ProductList .catColorSwatch .productOptionPickListSwatch ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
.CategoryContent .ProductList .catColorSwatch li {
	float: left; 
	display: inline-block !important; 
	padding: 0; 
	width: 26px; 
}
.CategoryContent .ProductList .catColorSwatch .swatchColours {
	position: relative; 
	display: inline-block !important;
	margin: 0 !important;
	padding: 2px !important; 
}
.CategoryContent .ProductList .catColorSwatch .swatchColours .swatchColour {
	width: 21px;
	display: block;
}
.CategoryContent .ProductList .catColorSwatch label {
	cursor: pointer;
	position: relative; 
	margin: 0;  
}
.CategoryContent .ProductList .catColorSwatch input {
	height: 0;
	overflow: hidden;
	z-index: -10000;
	position: absolute;
	float: none;
}
.CategoryContent .ProductList .catColorSwatch .swatch .name {
	display: none;
}
.catColorSwatch {
	
}
.catSizeSwatch {
	clear: both; 
}
.catSizeSwatch li {
	display: inline; 
	padding: 0; 
}
.catSizeSwatch li label {
	display: inline-block; 
	border: 1px solid #eeeeee; 
	padding: 2px 6px; 
}
.catSizeSwatch li label div.radio {
	display: none; 
}
