<script language="javascript" type="text/javascript">

/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */
/* try to combine this with category videos! */



	$(".Options").each(function checkForColorSwatch(url) {
		var productListing = $(this); 
			productLink = $(this).parent().parent().find('div.ProductImage a').attr('href'); 
		function ajax2() {
		    return $.ajax({
			            url: productLink,
			            type: 'GET',
			            dataType: 'html',
			            async: false,
			            success: function(data) {
			                result = data;
			            }
			        })
			    .done(function() { 
			    	if($(result).find( "span:contains('Color:')" ).length) {
				        productListing.addClass('withColorOptions');
				        }
			    	if($(result).find( "span:contains('Size:')" ).length) {
				        productListing.addClass('withSizeOptions');
				        }				     
			    }).fail(function() { 
			    	return;
			    });
			}
			$.when(ajax2()).done(function(a2){
				if($(productListing).hasClass('withColorOptions')){
			        productListing.closest('li')
			        	.append('<div class="colorOptionsContainer"> \
						            <div class="colorOptionsOverlay"> \
						                <span> \
						                    Available In Multiple Colors \
						                </span> \
						            </div> \
						        </div>')};
				if($(productListing).hasClass('withSizeOptions')){
			        productListing.closest('li')
			        	.append('<div class="sizeOptionsContainer"> \
						            <div class="sizeOptionsOverlay"> \
						                <span> \
						                    Available In Multiple Sizes \
						                </span> \
						            </div> \
						        </div>')};
//				if($(productListing).hasClass('withVideo')){
//			        };
	        });
	    });
	    
</script>